webAPI8/.vs/
webAPI8/App.Api/obj/
webAPI8/App.BLL/obj/
webAPI8/App.EF/obj/
webAPI8/App.Enum/obj/Debug/net8.0/App.Enum.GeneratedMSBuildEditorConfig.editorconfig
webAPI8/App.Enum/obj/
webAPI8/App.Model/obj/
webAPI8/App.Common/obj/Debug/net8.0/App.Common.assets.cache
webAPI8/App.Common/obj/
webAPI8/App.DB/obj/
webAPI8/App.DB/bin/
